body {
    background-color: #f0f0f0;
}

/* OVERRIDES */

section.typography img {
    margin: 0;
    background: transparent;
    box-shadow: none;
    border: none;
}

/*typography*/

.typography * {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 2rem;
}

.typography .text-medium *,
.typography .text-medium {
    font-size: 1.6rem;
}

.typography .text-small *,
.typography .text-small {
    font-size: 1.2rem;
}

.typography strong {
    font-weight: 500;
}

.typography em {
    font-style: italic;
}

.typography h1 *,
.typography h1 {
    font: 700 5rem/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

.typography h2 *,
.typography h2 {
    font: 700 4rem/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

.typography h3 *,
.typography h3 {
    font: 700 3rem/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

.typography h4 *,
.typography h4 {
    font: 700 2rem/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

.typography h5 *,
.typography h5 {
    font: 500 1.5rem/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
}

.typography h6 *,
.typography h6 {
    font: 500 1.2rem/1.2 "Poppins", sans-serif;
    text-transform: uppercase;
}

.typography .font-weight-medium,
.typography .font-weight-medium>* {
    font-weight: 500;
}

.typography .font-weight-light,
.typography .font-weight-light>* {
    font-weight: 300;
}