body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
div {
  padding: 5px;
  margin: 5px;
}
.parent {
  border: 2px solid yellowgreen;
}
.child {
  border: 2px solid indigo;
}
.grandchild {
  border: 2px solid skyblue;
}
