doctype html
head
	link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
	style.
		.column { padding: 20px; }
		.column:nth-child(1) { background: coral; }
		.column:nth-child(2) { background: limegreen; }
		.column:nth-child(3) { background: deepskyblue; }
body
	.columns.is-centered
		.column.is-6 HALF
